@import "src/assets/palette.scss";

.header {
    padding-top: 30px;
    padding-bottom: 30px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &-menu {
        display: flex;
        column-gap: 40px;
    }
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-links {
        display: flex;
        column-gap: 45px;
    }
}

.tools {
    display: flex;
    justify-content: space-between;

    &-logo-and-search {
        display: flex;
        align-items: center;
        column-gap: 140px;
    }

    &-phone-and-basket {
        display: flex;
        align-items: center;
        column-gap: 55px;
    }
}

.divider {
    border-color: $light-black-color;
}