@import "src/assets/dimensions.scss";
@import "src/assets/palette.scss";

.confirmation-dialog {
    &-title {
        padding: 0px 30px 0 50px 0;
    }
    
    &-paper {
        width: calc($modal-windown-width - 200px);
        height: auto;
        
        background-color: $black-color;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        gap: 15px;

        padding: 30px 65px 60px 65px;
    }

    
    &-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}