@import "src/assets/palette.scss";

.tab {
    flex: 1;
    color: $white-color;

    &-selected {
        background-color: $white-color;
        color: $black-color;
    }
}


.tab.first-tab {
    border-radius: 12px 0 0 12px;
}

.tab.last-tab {
    border-radius: 0 12px 12px 0;
}
