@import "src/assets/dimensions.scss";
@import "src/assets/palette.scss";

.order-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    max-width: 280px;

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: $font-medium;
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    &-bold-text {
        font-weight: 600;
        word-wrap: normal;
    }

    &-price {
        color: $red-color;
    }

    &-text {
        gap: 5px;
    }
}