@import "src/assets/dimensions.scss";
@import "src/assets/palette.scss";

.delivery-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-options {
        display: flex;
        gap: 15px;
    }

    &-option {
        width: -webkit-fill-available;
    }

    &-address {
        padding: 10px;
        cursor: pointer;
        transition: 0.2s all ease-in;

        border-radius: 10px;
        border-bottom: 1px solid $white-color;
        &:hover {
            background-color: $red-color;
        }
    }
}

.delivery-pickup {
    display: flex;
    gap: 10px;
    font-size: $font-medium;
    align-items: center;
    justify-content: center;
}
