@import "src/assets/dimensions.scss";
@import "src/assets/palette.scss";

.button {
    width: auto;
    box-sizing: content-box;
    
    font-size: $font-extra-small;
    color: $white-color;
    
    padding: 10px 25px;
    
    border: 2px solid $red-color;
    border-radius: 13px;

    background-color: transparent;

    cursor: pointer;

    &__filled {
        border: 2px solid transparent;
        background-image: $red-gradient;
        transition: all 0.5s ease-in-out;
    }

    &__filled:hover {
        background-image: $red-gradient-reversed;
    }

    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: $red-color;
}