$black-color: #151111;
$light-black-color: #2C2C2C;
$gray-color: #9A9A9A;
$white-color: #EFEFEF;
$red-color: #ED3333;
$red-gradient: linear-gradient(100deg, #C91919 0%, #ED3333 100%);
$red-gradient-reversed: linear-gradient(100deg, #ED3333 0%, #C91919 100%);
$organe-color: #F29D1E;