$paper-height: 300px;

.popper {
    z-index: 10;
}

.input-hint-paper {
    overflow-y: auto;

    max-height: $paper-height;

    padding: 5px 0;

    border-radius: 20px;

    background-color: black;
    color: white;
}
