@import "src/assets/palette.scss";

.menu {
    display: flex;
    flex-direction: column;
    gap: 65px;

    min-height: 500px;
    padding: 40px 0;

    &-filter {
        display: flex;
        align-items: center;
        gap: 30px;

        border-radius: 10px;
        border: 1px solid $white-color;

        padding: 20px 30px;
    }   

    &-stub {
        width: 100%;
        text-align: center;
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}

.product-item-cart {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 680px) {
    .menu-content {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}